<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #2c2c2d;
  --color-bg-variant: #49494b;
  --color-primary: #hsl(0, 91%, 30%);
  --color-primary-variant: hsl(0, 91%, 30%);
  --color-white: #fff;
  --color-light: rgb(255, 255, 255, 0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: rgb(229, 218, 218);
  line-height: 1.7;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  text-align: center;
  /* background-color: yellow; */
  padding: 3rem 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
  height: 100vh;
  /* background-color: coral; */
  text-align: center;
  padding-top: 3rem;
}

section > h2,
section > h5 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: hsl(0, 91%, 30%);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid hsl(0, 91%, 30%);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: #aeaeb5;
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  background-color: hsl(0, 91%, 30%);
}

/* ------------medium device-------------- */

@media screen and (max-width: 1024px) {
  .container {
    /* width: 86%; */

    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}

/* ------------small device-------------- */

@media screen and (max-width: 600px) {
  .container {
    /* width: 90%; */

    width: var(--container-width-sm);
  }
  section > h2 {
    margin-top: 2rem;
  }
}
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    list-style : none;
    text-decoration: none;
}


:root {
    --color-bg : #2c2c2d;
    --color-bg-variant : #49494b;
    --color-primary : #a62a4f;
    --color-primary-variant : #534f49;
    --color-white : #fff;
    --color-light : rgb(255, 255, 255, 0.6);

    --container-width-lg : 75%;
    --container-width-md: 86%;
    --container-width-sm : 90%;

    --transition : all 400ms ease;
  }

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color : var(--color-white);
    line-height: 1.7;
}



.container{
    width : var(--container-width-lg);
    margin : 0 auto;
    text-align: center;
    /* background-color: yellow; */
    padding: 3rem 0;
}

h1,h2,h3,h4,h5{
    font-size: 500;
}

h1{
    font-size: 2.5rem;
}

section{
    margin-top: 8rem;
    height: 100vh;
    /* background-color: coral; */
    text-align: center;
    padding-top: 3rem;
}

section > h2, section > h5{
    color: var(--color-primary);
    margin-bottom: 3rem;;
}

.text-light{
    color: var(--color-light);
}

a{
    color: var(--color-primary);
    transition: var(--transition)
}

a:hover{
    color: var(--color-white);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border:  1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover{
    background: var(--color-white);
    color:var(--color-bg);
    border-color: transparent
}

.btn-primary{
    background: var(--color-primary);
    color: var(--color-bg);

}

img{
    display: block;
    width: 100%;
    object-fit: cover;
} 



/* ------------medium device-------------- */

@media screen and (max-width: 1024px){
    .container{
        /* width: 86%; */

        width: var(--container-width-md); 
    }
    section{
        margin-top: 6rem;;
    }
}


/* ------------small device-------------- */

@media screen and (max-width: 600px){
    .container{
        /* width: 90%; */

        width: var( --container-width-sm);
    }
    section > h2 {
        margin-top: 2rem;;
    }
}
>>>>>>> origin/main
